
html, body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #bf1e2e;
    height: 80px;
    justify-content: space-around;
    /*z-index: 1;*/
    padding: 0 100px;
}
h1 {
    height: 76px;
    padding-top: 4px;
}
.lang {
    margin-left: 15em;
}
.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    text-transform: uppercase;
    justify-content: space-between;
}

.menu li {
    display: block;
    padding-left: 3em;
}

.menu li a {
    color: #ffffff;

}
body {
    width: 100%;
    /*box-sizing: border-box;*/
}
.main_img {
    width: 100%;

}
.a-la-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -100px;
    /*position: relative;*/
}
.red-slider {
    position: relative;
}
.sad {
    position: absolute;
    font-size: 27px;
    margin-left: 60px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-family: "Times New Roman", serif;
}
.sad-text {
    position: absolute;
    margin-top: 50px;
    margin-left: 40px;
    color: #ffffff;
}
.structure {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 100px;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

}
h2 {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #bf1e2e;
}
h3 {
    font-size: 0.9em;
}
p {
    font-size: 0.9em;
    text-transform: none;
}
.main_img {
    width: 100%;

}
.left-sidebar {
    margin-top: 25px;
    /*float: left;*/

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
}
.fa-camera-retro {
    margin-right: 7px ;
}
.fa-video {
    margin-right: 6px;
}
.fa-lightbulb {
    margin-right: 13px;
}
.fa-handshake {
    margin-right: 5px;
}
.fa-comments {
    margin-right: 7px;
}
.left-sidebar-list {
    list-style-type: none;
    font-size: 18px;
    text-transform: uppercase;
    /*overflow-y: scroll;*/
    /*margin-right: 50px;*/
}
.left-sidebar-list li{
    /*color: #35393b;*/
    /*padding-right: 3px;*/
}
.right-sidebar img{
    /*float: right;*/
}
.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.8em;
    /*vertical-align: baseline;*/
    list-style-type: none;
    text-transform: uppercase;
    padding-left: 0;
    /*justify-content: space-evenly;*/
    /*width: 685px;*/
    /*margin: 3em 10em 3em 10em;*/
}
.footer-list li {
    color: #898989;
    text-decoration-line: none;
    padding: 1.5em;
}
.footer-list li:first-child {
    padding-left: 0;
}
.social {
    display:flex;
    position: relative;
    float: right;
    /*vertical-align: baseline;*/

    /*text-align:center;*/
    /*width:2em;*/
    /*height:2em;*/
    /*float:left;*/
    /*background:#fff;*/
    /*border:1px solid #ccc;*/
    /*box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);*/
    /*border-radius:46px;*/
    /*margin:0 10px 10px 0;*/
    padding:6px;
    color:#000;
}
.youtube a:hover{background:#c4302b;color:#fff;}
.google-pluse a:hover{background:#DD4B39;color:#fff;}
.twitter a:hover{background:#00acee;color:#fff;}
.instagram a:hover{background:#3f729b;color:#fff;}
.facebook a:hover{background:#3b5998;color:#fff;}

.social:after{
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: solid;
    border-top-color: rgb(191, 30, 46);
    padding: 0 100px;
}
